# Brazillian E-Commerce by Olyst
- **Analysis and visualization of orders (delayed or not) and customer reviews**
![](https://zoomentregas.com.br/wp-content/uploads/2021/03/2021-03-17-entrega-no-mesmo-dia.jpg)

In [1]:
# importing the libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set_theme(style="whitegrid")
import sqlite3
import datetime as dt
from wordcloud import WordCloud

In [2]:
# making a connection with the database

conn = sqlite3.connect("brazilian_ecommerce_sales.db")

In [3]:
cur = conn.cursor()

In [4]:
def execute(cod):
    '''
    cod = code in SQL to query the database
    '''
    
    # returning all rows from the database query
    df = cur.execute(cod).fetchall()
    
    # transforming it into a dataframe 
    df = pd.DataFrame(df)
    
    # atribuying the name of columns
    if df.shape[1] > 0:
        df.columns = [col[0] for col in cur.description]
        
    # output
    return df

In [5]:
# checking the name of all tables from the database

execute('''
        SELECT 
            name
        FROM 
            sqlite_schema
        WHERE type = 'table'
        ''')

Empty DataFrame
Columns: []
Index: []

### Querying the database

In [6]:
# orders table

orders = execute('''
        SELECT
            *
        FROM
            orders
''')

orders.head()

OperationalError: no such table: orders

In [ ]:
orders.info()

In [ ]:
# changing the data type of date columns

for col in['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']:
    orders[col] = pd.to_datetime(orders[col])

In [ ]:
orders.order_delivered_customer_date - orders.order_estimated_delivery_date

In [ ]:
# creating a column with the number of days of delivery delay

orders['delivery_delay'] = (orders.order_delivered_customer_date - orders.order_estimated_delivery_date).dt.days

In [ ]:
# creating a binary column containing 0 (there was no delay) and 1 (there was delay)

orders['delay'] = orders.delivery_delay.apply(lambda row : 0 if row <= 0 else 1)

In [ ]:
plt.figure(figsize=(7, 5))
sns.countplot(x=orders['delay'], palette=['#3498db', '#ff9f43']);

In [ ]:
# creating a column containing the month and year of delivery

orders['month'] = orders.order_purchase_timestamp.dt.to_period('M')

In [ ]:
orders.head()

In [ ]:
# counting the orders in each month

orders.groupby('month')['order_id'].count()

In [ ]:
orders[orders.month < '2017-01'].head()

In [ ]:
orders[orders.month > '2018-08'].head()

In [ ]:
# dropping these rows

orders.drop(orders.index[(orders.month < '2017-01') | (orders.month > '2018-08')], inplace=True)

**Now we can analyze the delivery delay for each month**

In [ ]:
# counting the orders in each month again

orders_per_month = orders.groupby('month')['delay'].count()
orders_per_month

In [ ]:
delay_per_month = orders.groupby('month')['delay'].sum()

In [ ]:
fig, ax = plt.subplots(figsize=(14, 7))

ax.bar(orders_per_month.index.to_timestamp(), orders_per_month.values, width=20, color='#3498db')
ax.bar(delay_per_month.index.to_timestamp(), delay_per_month.values, width=20, color='#ff9f43')

ax.set_title('Percentage of late deliveries per month', fontsize=20)
ax.set_ylabel('order count', fontsize=15)

ax.tick_params(axis='x', labelrotation = 45)

for i in range(0, len(delay_per_month)):
    ax.annotate(
            text= f"{(delay_per_month[i] * 100) / orders_per_month[i]:.1f}%",
            xy=(delay_per_month.index.to_timestamp()[i], delay_per_month.values[i]),
            fontsize=13.5,
            ha='center',
            va='top',
            xytext=(0, 20),
            textcoords='offset points'
    )

plt.show()

In [ ]:
max_no_delay_month = orders.groupby('month')['delivery_delay'].min()
mean_delay_month = orders.groupby('month')['delivery_delay'].mean()
max_delay_month = orders.groupby('month')['delivery_delay'].max()

In [ ]:
fig, ax = plt.subplots(figsize=(15, 7))

ax.bar(max_delay_month.index.to_timestamp(), max_delay_month.values, width=17, color='#ff9f43', label='max delay')
ax.bar(max_no_delay_month.index.to_timestamp(), max_no_delay_month.values, width=17, color='#3498db', label='min delay')
ax.plot(mean_delay_month.index.to_timestamp(), mean_delay_month.values, color='#e83f47', label='mean delay')

ax.set_xlabel('month', fontsize=17)
ax.set_ylabel('days of delay', fontsize=17)
ax.set_title('Max, min and mean delay per month', fontsize=20)

plt.legend()
plt.show()

it is possible to observe that the delay of orders is of such importance, even having absurd values ​​above 100 days of delay

Now we can analize the table of reviews

In [ ]:
execute('''
        SELECT * FROM order_reviews
        ''').head()

In [ ]:
# using the INNER JOIN to concatening these tables

reviews = execute('''
        SELECT
            orders.order_id,
            order_delivered_customer_date,
            order_estimated_delivery_date,
            review_score,
            review_comment_message
        FROM
            orders
        INNER JOIN order_reviews
            ON orders.order_id = order_reviews.order_id
        ''')

reviews.head()

In [ ]:
for i in ['order_delivered_customer_date', 'order_estimated_delivery_date']:
    reviews[i] = pd.to_datetime(reviews[i])

In [ ]:
reviews['delivery_delay'] = (reviews.order_delivered_customer_date - reviews.order_estimated_delivery_date).dt.days

In [ ]:
reviews['delay'] = reviews.delivery_delay.apply(lambda row: 0 if row <= 0 else 1)

In [ ]:
reviews['month'] = reviews.order_delivered_customer_date.dt.to_period('M')

In [ ]:
reviews.head()

In [ ]:
reviews.info()

In [ ]:
plt.figure(figsize=(7, 5))

plt.title('Average delay days per reviews score', fontsize=14)

sns.barplot(data=reviews, x='review_score', y='delivery_delay', palette='ch:s=.25,rot=-.25')
plt.show()

the longer the order delivery time, the lower the score.

In [ ]:
delay_0 = reviews[reviews.delay == 0].groupby('review_score')['delay'].count().reset_index()

In [ ]:
delay_1 = reviews[reviews.delay == 1].groupby('review_score')['delay'].count().reset_index()

In [ ]:
fig, ax = plt.subplots(figsize=(15, 7), ncols=2)

colors=['#c7ecee', '#7ed6df', '#22a6b3', '#218c8d', '#3498db']
explode=[0.05, 0, 0, 0, 0]

ax[0].pie(x=delay_0['delay'].values, labels=delay_0['review_score'], autopct='%1.1f%%',
          colors=colors, shadow=True, startangle=90, textprops={'fontsize': 14})
ax[1].pie(x=delay_1['delay'].values, labels=delay_1['review_score'], autopct='%1.1f%%',
          colors=colors, shadow=True, startangle=90, textprops={'fontsize': 14})

ax[0].set_title('Review scores for NOT late orders', fontsize=16)
ax[1].set_title('Review scores for late orders', fontsize=16)

plt.show()

**pie charts confirm order score correlates with order delay**

In [ ]:
comments = reviews.loc[(reviews.review_comment_message.notnull()) & (reviews.delay == 1), 'review_comment_message'].values

In [ ]:
text = ' '
for txt in comments:
    text += txt + ' '
text = text.replace(',', '').replace('.', '').lower()
print(f'there\'are {len(text)} caracteres the text')

## WordCloud

In [ ]:
wordcloud = WordCloud(background_color='white', max_words=1000).generate(text)

plt.figure(figsize=(13, 6))

plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()