# Turning the databases into a SQL database

In [1]:
# importing the libraries

import pandas as pd
import sqlite3
import os

In [2]:
# taking the path of the folder

folder = os.getcwd()

In [3]:
# now, the files

files_list = os.listdir(folder + '\\files')
files_list

['olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

# Using sqlite3

In [4]:
# creating a connection with the database

conn = sqlite3.connect('brazilian_ecommerce_sales.db')

#### Now, we must to add all csv's files to db file

In [5]:
for file in files_list:
    
    # importing all csv's files
    df = pd.read_csv(folder + '//files//' + file)
    
    # name of table
    name = file.replace('olist_', '').replace('_dataset', '').replace('.csv', '')
    
    # adding the tables to the database
    df.to_sql(name, conn, if_exists='replace')

- after creating and adding to the database, we can query it
- for this, we'll make a function to access de database

In [6]:
def execute(cod):
    
    # creating a cursor
    cur = conn.cursor()
    
    # converting to a dataset
    df = cur.execute(cod).fetchall()
    df = pd.DataFrame(df)
    
    # atribuing the name of columns
    if df.shape[1] > 0:
        df.columns = [col[0] for col in cur.description]
        
    # output
    return df

In [7]:
# exemple of sql code

execute('''
        SELECT
            *
        FROM
            customers
        ''').head()

,index,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP