# Converting the datasets into a database

In [1]:
import os
import sqlite3
import pandas as pd

In [2]:
# taking the path of datasets

path = os.getcwd() + "\\files"

In [3]:
os.listdir(path)

['olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

## Using sqlite3

In [4]:
conn = sqlite3.connect("brazillian_ecommerce.db")

for file in os.listdir(path):
    
    base = pd.read_csv("files/" + file)
    
    name = file.replace("olist_", "").replace("_dataset", "").replace(".csv", "")
    
    base.to_sql(name, conn, if_exists='replace')
    
conn.close()

- now, we must make a function to query the database to our analysis

In [5]:
def execute(cod):
    
    conn = sqlite3.connect("brazillian_ecommerce.db")
    
    # creating a cursor
    cur = conn.cursor()
    
    # converting to a dataset
    df = cur.execute(cod).fetchall()
    df = pd.DataFrame(df)
    
    # atribuing the name of columns
    if df.shape[1] > 0:
        df.columns = [col[0] for col in cur.description]
        
    conn.close()
        
    return df

In [6]:
# checking the name of the bases

execute('''
        SELECT 
            name
        FROM
            sqlite_master
        where type = 'table'
''')

                                name
0                          customers
1                        geolocation
2                             orders
3                        order_items
4                     order_payments
5                      order_reviews
6                           products
7                            sellers
8  product_category_name_translation

In [7]:
# making a query

execute('''
    SELECT
        *
    FROM
        order_reviews
    LIMIT 5
''')

,index,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18 00:00:00,2018-01-18 21:46:59
1,1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10 00:00:00,2018-03-11 03:05:13
2,2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17 00:00:00,2018-02-18 14:36:24
3,3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53